// # Layout

// The `layout/` folder contains everything that takes part in laying out the
// site or application. This folder could have stylesheets for the main parts
// of the site (header, footer, navigation, sidebar…), the grid system or even
// CSS styles for all the forms.

// Reference: [Sass Guidelines](https://sass-guidelin.es/)
// > [Architecture](https://sass-guidelin.es/#architecture)
// > [Layout folder](https://sass-guidelin.es/#layout-folder)

// -----------------------------------------------------------------------------
// This file contains all styles related to includes/footer.html
// -----------------------------------------------------------------------------

/* Footer */
.page-footer {
  text-align: center;
  margin-bottom: 10px;

  a:link, a:visited{
    text-decoration: none;
    color: $text-color;

    @include on-event {
      color: $highlight-color;
      text-decoration: underline;
      }
  }
  

}