// -----------------------------------------------------------------------------
// This file contains all styles related to includes/header.html
// -----------------------------------------------------------------------------

/* Header */
.page-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  font-family: Lexend, sans-serif;

  @media only screen and (max-width: 468px){
    flex-direction: column;
  }
}

/* header links */
.page-header nav a{
  margin: 0 12px;
}

.page-header nav a, .page-header-logo{
  // font-size: 1.25em; // dans base/_typography.scss

  &:link, &:visited{
    color: $text-color;
    text-decoration: none;
      
    @include on-event {
      color: $highlight-color;
      text-decoration: underline;
      }
  }
}