/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
 .container.notes{
  max-width: $large-width; /* 1 */
  // margin-left: auto; /* 2 */
  // margin-right: auto; /* 2 */
  // padding-left: 20px; /* 3 */
  // padding-right: 20px; /* 3 */
  // width: 65%; /* 1 */
  // background: red;

  // @include respond-to('medium'){
  //   max-width: none;
  //   width: 100%;
  // }
}