.backlink{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // justify-content: space-between;
  width: 100%;
  padding: 0 0;
  margin: 0 0;

  // @include respond-to('medium'){
  //   flex-direction: column;
  //   justify-content: center;
  //   flex-wrap: wrap;
  // }
}

.backlink-note {
  color: $text-color;
  border-bottom: 1px solid shade($background-sub-color, 30%);
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  @include respond-to('medium'){
    width: 100%;
  }

  a {
    color: $text-color;
    flex-grow: 1;
    padding: 1rem 1rem 1rem 1rem;

    @include respond-to('medium'){
      padding: 1rem 0;
    }
  }

  .larger {
    padding: 0 0;
    margin: 0 0;
    font-weight: 500;
  }

  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include on-event {
    color: $highlight-color;
    border-bottom-color: $highlight-color;
    background-color: $background-sub-color;
    
    .larger{
      color: $highlight-color;
      text-decoration: underline;
    }

    a{
      text-decoration: none;
    }
  }
}