// # Components

// For small components, there is the `components/` folder. While `layout/` 
// is macro (defining the global wireframe), `components/` is more focused on 
// widgets. It contains all kind of specific modules like a slider, a loader, a 
// widget, and basically anything along those lines. There are usually a lot of 
// files in components/ since the whole site/application should be mostly 
// composed of tiny modules.

// Reference: [Sass Guidelines](https://sass-guidelin.es/) 
// > [Architecture](https://sass-guidelin.es/#architecture) 
// > [Components folder](https://sass-guidelin.es/#components-folder)

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* Styling of aside button "go back to menu" */

aside{

  #svg-angle-up{
    fill: $text-color;
  
    @include on-event {
      fill: $highlight-color;
    }
    @include respond-to('medium'){
      visibility: hidden;
      width: 0;
    }
  }
  a{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 30px;
    span{
      visibility: hidden;
    }
    @include respond-to('medium'){
      position: relative;
      width: 100%;
      height: inherit;
      right: 0;
      bottom: 0;
      span{
        visibility: visible;
      }
    }
  }
}
