/**
 * Notefeed styling
 */

/* ul container styling */
.notefeed{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 0;
  margin: 0 0;

  @include respond-to('medium'){
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/* li, then a & other styling */
.notefeed-note {
  color: $text-color;
  display: flex;
  border-bottom: 1px solid shade($background-sub-color, 30%);
  width: calc( 50% - 1rem);
  margin-bottom: 1rem;

  @include respond-to('medium'){
    width: 100%;
  }

  a {
    color: $text-color;
    flex-grow: 1;
    padding: 1rem 1rem 1rem 1rem;

    @include respond-to('medium'){
      padding: 1rem 0;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .false-title {
    padding: 0 0;
    margin: 0 0;
    font-weight: 500;
  }

  p {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 8px;
  }

  @include on-event {
    color: $highlight-color;
    border-bottom-color: $highlight-color;
    background-color: $background-sub-color;
    
    .false-title{
      color: $highlight-color;
      text-decoration: underline;
    }

    a{
      text-decoration: none;
    }
  }
}

.feedDiv{
  // min-height: 70vh;
  width: 100%;
}

.pagination{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  padding: 0 0;
  margin: 0 0;
  
  li{
    display: block;
    padding-bottom: 20px;
    margin: 0 10px;
  }

  @include respond-to('medium'){

    #first,#previous,#next,#last{
      @include v-hidden;
    }
    .v-hidden{
      @include v-visible;
    }
  }
}

.notefeed-date{
  // background: tint($highlight-color, 80%);
  width: fit-content;
  padding: 2px 4px;
  margin-top: 10px;
  border-radius: 10px;
  // border-style: solid;
  // border-color: $shadow-color;
  border-width: 0.5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
