.note-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0 0;
  p{
    margin: 10px 10px 10px 0;
    padding: 0 0;
  }
  li{
    list-style-type: none;
    margin: 10px 10px;
  }
}

.note-tag{
  // background: tint($highlight-color, 80%);
  width: fit-content;
  padding: 2px 4px;
  margin-top: 10px;
  border-radius: 10px;
  // border-style: solid;
  // border-color: $shadow-color;
  border-width: 0.5px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.tagList{
  min-width: 80vw;
}
  