---
pagination:
  data: collections
  size: 1
  alias: tag
layout: tag.md
eleventyComputed:
  title: "Tag : {{ tag }}"
permalink: "/tags/{{ tag }}/"
---
<div class="feedDiv">
  <ul class="notefeed">
    {%- assign taglist = collections[ tag ] | reverse -%}
    {%- for note in taglist -%}
    <li class="notefeed-note" {%- if notes.data.lang != nil -%} lang="{{- note.data.lang -}}"{%- endif -%}>
      <a href="{{ note.url }}">
        <span class="false-title">{{ note.data.title }}</span>
        <div class="notefeed-date">{{ note.data.date | date: "%d-%m-%Y" }}</div>
        {%- if note.data.description != nil -%}
          {{- note.data.description | markdownify -}}
        {%- endif -%}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</div>