---
permalink: /tags/
layout: tags.md
title: Tags
---
La liste des tags présents dans mes notes.
<ul>
{%- for tag in collections.all | getAllTags | filterTagList | sort -%}
	{%- set tagUrl -%}/tags/{{ tag }}{%- endset -%}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{%- endfor -%}
</ul>