<aside class="container">
  <a href="#Home" title="{%- if lang != 'en' -%}Retour au menu{%- else -%}Go back to menu{%- endif -%}">
    <svg version="1.1" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" id="svg-angle-up"
    fill="">
      <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. 
      -->
      <!--!
      Modified svg to make it spiky
      -->
      
        <path d="m224 119.22s169.6 164.71 182.7 178.18c12.32 12.677 12.5 32.8 0 45.3s-32.8 12.5-45.3 0l-137.4-137.4-137.4 137.3c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3z"/>
    </svg>
    <span>{%- if lang != 'en' -%}Retour au menu{%- else -%}Go back to menu{%- endif -%}</span>
  </a>
</aside>