<hr>
{%- if lang == "en" -%}
  <p class="larger">
    Backlinks
  </p>
{%- else -%}
  <p class="larger">
    Liens internes
  </p>
{%- endif -%}
{%- if backlinks.length > 0 -%}
  <ul class="backlink">
    {%- for link in backlinks -%}
      <li class="backlink-note">
        <a href="{{- link.url -}}" {%- if link.lang != nil -%} lang="{{- link.lang -}}"{% endif %}>
          <span class="larger">
            {{- link.title -}}
          </span>
            {{- link.description | markdownify -}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  {%- if lang == "en" -%}
    <p>
      No backlink fond.
    </p>
  {%- else -%}
    <p>
      Aucun lien interne trouvé !
    </p>
  {%- endif -%}
{%- endif -%}