<footer class="page-footer">
    {%- if page.url == "/" -%}
      <small>
        <a href="/feed.xml">Feed</a><span> - </span>
        {{- site.title -}} {{- page.date | date: "%Y" -}} - Copyleft 
        <a class="licence-link" href="https://creativecommons.org/licenses/by-sa/4.0/">
          CC BY-SA
        </a>
         ∨ 
        <a class="licence-link" href="https://codeberg.org/yazae101/HotChocolateLicence/src/tag/1312.1/LICENCE.md">
          Hot Chocolate Licence
        </a>
      </small>
    {%- else -%}
      <small>
        <a href="/feed.xml">Feed</a><span> - </span>
        {{- site.title -}} {{- page.date | date: "%Y" -}} - Copyleft 
        <a class="licence-link" href="https://creativecommons.org/licenses/by-sa/4.0/">
          CC BY-SA
        </a>
         ∨ 
        <a class="licence-link" href="https://codeberg.org/yazae101/HotChocolateLicence/src/tag/1312.1/LICENCE.md">
          HCL
        </a>
      </small>
    {%- endif -%}
</footer>