<header class="page-header">
    {%- if page.lang != "fr" and != nil -%}
    <a href="#main" class="v-hidden skip" lang="en">Skip to main content</a>
    {%- else -%}
    <a href="#main" class="v-hidden skip">Contenu principal</a>
    {%- endif -%}
    <a href="/" class="page-header-logo" title="Home" id="Home">
      Yazae<span class="emphase-alt">.</span>
    </a>
    <nav>
        <a href="/notes/">Notes</a>
        <a href="/tags/">Tags</a>
        <a href="/about/">À propos</a>
        <a href="/liens/">Liens 🧶</a>
    </nav>
</header>