<ul class="pagination">
  <li>
    <a href="{{ pagination.href.first }}" title="première page">
      <span id="first">Première</span><span class="v-hidden" aria-hidden="true"><<</span>
    </a>
  </li>
  <li>
    {%- if pagination.href.previous -%}
    <a href="{{ pagination.href.previous }}" title="page précédente">
      <span id="previous">Précédente</span><span class="v-hidden" aria-hidden="true"><</span>
    </a>
    {%- else -%}
      <span id="previous">Précédente</span><span class="v-hidden" aria-hidden="true"><</span>
    {%- endif -%}
  </li>
  <li>
    {%- if pagination.href.next -%}
    <a href="{{ pagination.href.next }}" title="page suivante">
    <span id="next">Suivante</span><span class="v-hidden" aria-hidden="true">></span>
    </a>
    {%- else -%}<span id="next">Suivante</span><span class="v-hidden" aria-hidden="true">></span>{%- endif -%}
  </li>
  <li>
    <a href="{{ pagination.href.last }}" title="dernière page">
      <span id="last">Dernière</span><span class="v-hidden" aria-hidden="true">>></span>
    </a>
  </li>
</ul>