// _scss/base/
// The `base/` folder holds what we might call the boilerplate code for the 
// project. In there, you might find some typographic rules, and probably a
// stylesheet (that I’m used to calling `_base.scss`), defining some standard
// styles for commonly used HTML elements.
// Reference: [Sass Guidelines](https://sass-guidelin.es/)
// > [Architecture](https://sass-guidelin.es/#architecture)
// > [Base folder](https://sass-guidelin.es/#base-folder)

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * 1. Set up a decent box model on the root element
 * 2. Smooth scrolling
 */
html {
  box-sizing: border-box; /* 1 */
  scroll-behavior: smooth; /* 2 */
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 24px;
  background: $background-color;

  @include respond-to('medium'){
    margin: 0 0;
  }
}

/* main grow to fill the page even if empty */
main {
  flex-grow: 1;
  // max-width: 60ch;
  // width: 100%;
  // margin: 0 auto;
}

/* blockquote styling */
blockquote {
  // text-indent: -0.45em;
  border-left: 0.3rem solid $highlight-color;
  padding-left: 10px;
  margin: 0 0 0 20px;
  position: relative;
}

/* emphase title*/
.emphase-alt{
  color: $highlight-alt-color;
}

code{
  background-color: $highlight-background-color;
}

li>p:first-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
}