// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Lexend variable fonts
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend/lexend.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/Lexend/lexend.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// Inter variable fonts
@font-face{
  font-family: 'Inter';
  src:  url('/assets/fonts/Inter/inter-variablefont.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/Inter/inter-variablefont.woff') format('woff'), /* Pretty Modern Browsers */
        url('/assets/fonts/Inter/Inter-VariableFont_slnt-wght.ttf')  format('truetype'); /* Safari, Android, iOS */
}


// Hack family
// https://www.digitalocean.com/community/tutorials/css-font-face

// Hack Regular
@font-face {
  font-family: 'Hack';
  src:  url('/assets/fonts/Hack/Hack-Regular-webfont.woff') format('woff'),
        url('/assets/fonts/Hack/Hack-Regular-webfont.ttf') format('truetype');
}

// Hack Bold
@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/Hack/Hack-Bold-webfont.woff') format('woff'),
       url('/assets/fonts/Hack/Hack-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Hack Italic
@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/Hack/Hack-Italic-webfont.woff') format('woff'),
       url('/assets/fonts/Hack/Hack-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Hack BoldItalic
@font-face {
  font-family: 'Hack';
  src: url('/assets/fonts/Hack/Hack-BoldItalic-webfont.woff') format('woff'),
       url('/assets/fonts/Hack/Hack-BoldItalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}




