/**
 * Basic typography style for base text
 */
body {
  color: $text-color;
  // font: normal 125% / 1.4 $text-font;
  font-family: $text-font;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
}

p{
  margin-bottom: 1.4em;
}

h1, h2, h3, h4, h5, .false-title {
  margin: 1rem 0 1rem 0;
  font-weight: 400;
  line-height: 1.15;
  font-family: $title-font;
}

h1 {
  margin: 1.5rem 0;
  font-size: 3em;
}

h2 {font-size: 2em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.5em;}

/* false-title is used in the feed cards */ 
h5, .larger, .false-title {font-size: 1.25em;}

small {font-size: 0.8em;}

.page-header nav a, .page-header-logo{
  font-size: 1.25em;
}

pre, code{
  font-family: $code-font;
}